.about-page {
  height: calc(100vh - 150px);
  background-color: salmon;
  display: flex;
}

.about-page .row {
  height: 100%;
  width: 100%;
  background-color: pink;
  display: flex;
}

.column-photos {
  height: 100%;
  width: 40%;
  background-color: red;
  display: flex;
}

.column-photos .picture {
  height: 100%;
  background-color: green;
  background-position: center;
  background-size: cover;
  border: solid black 1px;
  flex-grow: 1;
  overflow: hidden;
  flex-basis: 20%;
  transition: 0.5s;
}
.column-photos .picture:hover {
  flex-basis: 100%;
  background-color: aquamarine;
}

/* .column-photos img {
  height: calc(100vh - 150px);    
} */

/* .column-photos img:hover {
  width: 90%;
} */

.column-description {
  width: 60%;
}
