.sliderimg {
  margin-top: 150px;
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
}
.alice-carousel__dots {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%);
}
